<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        font-family: helvetica, arial, sans-serif;
        margin: 25px;
      }
      code {
        background-color: #EEE;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    
    <h1>URL Shortener Microservice</h1>
    
    <h2>User stories</h2>
    <ul>
      <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
      <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
      <li>When I visit that shortened URL, it will redirect me to my original link.</li>
    </ul>
    
    <h3>Example creation usage:</h3>
    <code>
      https://fcc-url-shortener-microserve.glitch.me/new/https://www.somesuperlong.link/that-nobody/would-want?to=type
    </code>
    
    <h3>Example creation output:</h3>
    <code>
      { "original_url":"https://www.somesuperlong.link/that-nobody/would-want?to=type", "short_url":"https://fcc-url-shortener-microserve.glitch.me/123" }
    </code>
    
    <h3>Usage:</h3>
    <code>
      https://fcc-url-shortener-microserve.glitch.me/123
    </code>
    
    <h3>Will redirect to:</h3>
    <code>
      https://www.somesuperlong.link/that-nobody/would-want?to=type
    </code>

  </body>
</html>
